<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>{{title}}</title>
</head>
<body>
     <header>
        <nav> {{! Navigation bar }}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/package">Package Meals</a></li>
                <li><a href="/"><img src="img/spoon&fork.png"></a></li>
                <li><a href="/registration">Registration</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
     </header>

     <main>
         {{! Banner }}
         <img src="img/banner.jpg" id="banner">
         <h1>{{heading}}</h1>
         {{{body}}}
     </main>
     
     <footer> {{! Footer info }}
         <div class="footer-container">
             <div class="footer-layout">
                 <div class="footer-box">
                     <h3>Help and Support</h3>
                     <p>FAQ</p>
                     <p>Terms and Conditions</p>
                 </div>
                <div class="footer-box">
                     <h3>Contact Info</h3>
                     <p>Email: spoon&fork@gmail.ca</p>
                     <p>Phone: +1(555) 444-1234</p>
                 </div>
             </div>
         </div>
         <p>Creator: kyle insigne</p>
     </footer>

</body>
</html>