<h1>No Cooking, just eating.</h1>
<div class="container"> {{! Content Section }}
    <div class="layout">
        <div class="box">
        <img src="img/Pick.gif">
        <h2>Pick</h2>
        <p>100+ menu items, all natural.</p>
        </div>

        <div class="box">
        <img src="img/heat.gif">
        <h2>Heat</h2>
        <p>Cooked and Delivered.</p>
        </div>

        <div class="box">
        <img src="img/eat.gif">
        <h2>Eat</h2>
        <p>Delicious and Nutritious.</p>
        </div>

        <div class="box">
        <img src="img/repeat.gif">
        <h2>Repeat</h2>
        <p>Skip a week or cancell anytime.</p>
        </div>
    </div>
</div>

<img src="img/chef_recommendation.png" id="banner2">
<h1>Top Meals</h1>
<div class="container"> {{! Top Meal Pachages }}
    <div class="layout">
        <div class="box">
            <img src="img/Chicken_Teriyaki.jpg">
            <h3>Chicken Teriyaki</h3>
            <p>$11.99</p>
        </div>
        <div class="box">
            <img src="img/Garlic_Butter_Salmon.jpg">
            <h3>Garlic Butter Salmon</h3>
            <p>$11.99</p>
        </div>
        <div class="box">
            <img src="img/Keto_Cheese_Steak.jpg">
            <h3>Keto Cheese Steak</h3>
            <p>$15.99</p>
        </div>
        <div class="box">
            <img src="img/Beef_Gratin.jpg">
            <h3>Beef Gratin</h3>
            <p>$10.99</p>
        </div>
    </div>
</div>

