<form id="login-form" method="POST" action="/sign-in"> 
    <fieldset>
        <legend><h1>Customer Login</h1></legend><br>
        <input type="email" name="email" id="email" placeholder="Email" value="{{holdemail}}" required><br>
        <input type="password" name="password" id="password" placeholder="Password" required><br><br>

        <input type="submit" value="Login" id="login-submit"><br><br>

        <label>Dont have an <a href="/registration">account</a>?</label><br><br>
    </fieldset>
</form>