<div class="container2"> {{! Top Meal Pachages }}
    <div class="layout">
        <div class="box2">
            <img src="img/Chicken_Teriyaki.jpg">
            <button class="button">Choose this Meal</button>
            <h3>Muscle Gain</h3>
            <p>Price: $200.99</p>
            <p>Meals: 10</p>
            <p>High protein with calorie package that supports muscle gains.</p>
        </div>
        <div class="box2">
            <img src="img/Garlic_Butter_Salmon.jpg">
            <button class="button">Choose this Meal</button>
            <h3>Weight Loss</h3>
            <p>Price: $150.99</p>
            <p>Meals: 10</p>
            <p>High protein with low-calorie meals with needed nutrients that support weight loss.</p>
        </div>
        <div class="box2">
            <img src="img/Keto_Cheese_Steak.jpg">
            <button class="button">Choose this Meal</button>
            <h3>Fat Loss</h3>
            <p>Price: $170.99</p>
            <p>Meals: 4</p>
            <p>Low carb, high nutrient package that helps burn fat.</p>
        </div>
        <div class="box2">
            <img src="img/Beef_Gratin.jpg">
            <button class="button">Choose this Meal</button>
            <h3>Keto</h3>
            <p>Price: $150.99</p>
            <p>Meals: 10</p>
            <p>High fat, low carb, and moderate protein to support your keto diet.</p>
        </div>
    </div>
</div>