<form id="registration-form" method="POST" action="/register-form"> 
    <fieldset>
        <legend><h1>Create Account</h1></legend><br>
        <label>First Name: </label>
        <input type="text" name="firstname" id="firstname" value="{{holdfirstname}}" required><br>
        <label>Last Name: </label>
        <input type="text" id="lastname" name="lastname" value="{{holdlastname}}" required><br>
        <label>Email: </label>
        <input type="email" id="email" name="email" value="{{holdemail}}" required><br>
        <label>Passowrd: </label>
        <input type="password" id="password" name="password" required><br><br>
        {{error}}<br>
        <input type="submit" value="Sign Up" id="registration-submit"><br><br>

        <p>Already have an <a href="/login">account</a>?</p><br><br>
    </fieldset>
</form>