* {
  margin: 0;
  padding: 0;
}
nav {
  text-align: center;
  background-color:rgba(255, 72, 0, 0.747);
  height: 150px;
}
nav ul {
  display: inline-block;
}
nav li, nav li a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    list-style-type: none;
}
nav li a:hover {
  text-decoration: underline;
}
img {
  width: 100%;
  height:100%;
}
h1 {
  margin-top: 30px;
  text-align: center;
}
#banner {
  height: 500px;
  width:100%;
}
#banner2 {
  margin-top: 50px;
}

.container {
  display: grid;
  padding:10px 10px 10px 10px;
  margin-left: 100px;
  margin-right: 100px;
  height: 350px;
}

.layout {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 50px;
}
.box {
  height: 200px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size: 120%;
}
.box p {
  padding: 5px 5px 5px 5px;
}
.button {
  background-color:rgba(255, 72, 0, 0.747);
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#login-form {
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
}
#login-submit {
  background-color:rgba(255, 72, 0, 0.747);
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#registration-form {
  background-color: white;
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
}
#registration-form label {
  float: left;
}
#registration-form input[type=text],#registration-form input[type=password], #registration-form input[type=email] {
  float: right;
}
#registration-submit {
  background-color:rgba(255, 72, 0, 0.747);
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.footer-container {
  display: grid;
  padding:10px 10px 10px 10px;
  margin-left: 100px;
  margin-right: 100px;
  height: 100px;
}
.footer-layout {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 50px;
}
.footer-box {
  height: 75px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size: 120%;
}

footer {
  margin-top: 150px;
  background-color:rgba(255, 72, 0, 0.747);
}